/**/
button {
    background: none;
    border: 0;
}

img {
    max-width: 100%;
}


.in-page-container {
    margin: 0 2rem;
}


.arrow-button {
    background: none;
    border: 0;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 50px;
}

.watch-section{ 
    margin-top: 48px;
}

.watch-section-title {
     font-size: 2rem;
    margin: 0;
}

.watch-section-content {
     margin: 8px 0;
}



h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.stat-bar {
    display: flex;
    background-color: #2C2C2C;
    color: #ADADAD;
    gap: 32px;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.stat__item {
    flex: 1;
}

.stat__title {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.stat__number {
    font-size: 1.5rem;
    margin: 0;
    color: #F3F3F3;
    font-weight: 600;
}



.y-axis {
    stroke: #b4b9bf;
    /* fill: #dee2e7; */
}

.x-axis {
    stroke: #b4b9bf;
    /* fill: #dee2e7; */
}

.y-axis line {
    stroke: #dee2e7;
}
.x-axis line {
    stroke: #dee2e7;
}

.domain {
    stroke: #dee2e7;
}
.tick text {
        letter-spacing: 0.6px;
        font-weight: 200;
}

.legend-label {
    font-size: 0.7rem;
}




.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.card {
    background-color: #F2F1E8;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 15px;
    color: #8E8F96;
    height: 17rem;
    justify-content: flex-start;
    flex-flow: column nowrap;
    display: flex;
}

.card__title {
    font-weight: 600;
}

.card * {
    margin: 0;
}

.card-header {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.card-content {
    color: #2b2c32;
}










.currency-container {
    display: flex;
    gap: 1rem;
}

.currency-box {
    background-color: #a7a593;
    border-radius: 10px;
    padding: 1rem;
    color: white;
}

.currency-box__title {
    margin: 0;
}

.currency-box__price {
    margin: 0;
}

.currency-box__separator {
    font-size: 3rem;
}

    
.tooltip-container {
    position: relative;
    border: 1px solid #9fa4a7;
    border-radius: 50px;
    margin: 0.5rem;
    display: inline-flex;
    padding: 0.15rem 0.2rem 0.15rem 0.5rem;
    font-size: 0.75rem;
    color: #9fa4a7;
    transition: all 0.3s ease-in-out;
}
.tooltip-container:hover {
    border-color:#1C56C2;
    color:#1C56C2;
    cursor: help;
}
.tooltip-container:hover > .tooltip-icon--question:before {
    background-color: #1c56c2;
    color: white;
}
.tooltip-content {
    margin: 0;
}
.tooltip-icon {
    position: relative;
    display: inline-block;
}
.tooltip-icon--question {

}
.tooltip-icon--question:before {
    transition: all 0.3s ease-in-out;
    content: '?';
    display: inline-block;
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    border-radius: 50%;
    margin-left: 4px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container {
    margin: 0 32px;
    font-family: sans-serif;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}



.circle {
    border-radius: 50%;
    background-color: #a7a593;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343636;
    margin: 0 1rem;
    flex-flow: column nowrap;
    padding: 2rem;
    overflow: hidden;
    position: relative;
}
.circle-figure {
    font-weight: 800;
        margin: 0;
    display: block;
    font-size: 3rem;
}
.circle-description {
    margin: 0;
    display: block;
        text-align: center;
}



.watch-name {
    font-size: 15rem;
    margin: 0;
    line-height: 1.3;
    color: #a7a593;
    font-weight: 600;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

* {
    font-family: Poppins;
}

/* .in-page-container {
    
} */

.app-transition--fade {
    transition: opacity 0.25s ease-in-out;
}

.app-transition--fade-enter {
    opacity: 0;
    position: absolute;
}

.app-transition--fade-enter-active {
    opacity: 0;
}

.app-transition--fade-enter-done {
    opacity: 1;
}

.app-transition--fade-exit-active {
    opacity: 0;
}






.logo {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    z-index: 2;
    margin: 0;
        position: absolute;
    z-index: 999999;
    padding: 8px;
        word-break: break-word;
}

@keyframes loadedContainer {
    0% {
        opacity: 1;
    }
    99% {
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes rotateStep {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-content {
        position: relative;
        animation: rotateStep 2.5s ease-in-out;
}

.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    background-color: white;
        display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loader-container--loaded {
    animation: loadedContainer 0.5s 1s cubic-bezier(0.77,0,0.18,1) forwards;
    pointer-events: none;
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }


.square {
width: 100px;
height: 100px;
display: block;
z-index: 999;
position: relative;
overflow: hidden;
background-color: #DDDBDD;
margin: 0;
}


.square:after {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0));
animation: shimmer 1s infinite;
  content: "";
}
  

.loader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

@keyframes loading {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes loaded {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}



.loader__column {
    height: 0;
    width: 100%;
}

.loader--loading > .loader__column {
    animation: loading 1s cubic-bezier(0.77,0,0.18,1) forwards;
}

.loader--loaded > .loader__column {
    height: 100%;
    animation: loaded 1s cubic-bezier(0.77,0,0.18,1) forwards;
}

.loader__column:nth-child(1) {
    background-color: black;
    animation-delay: 0.25s;
}
.loader__column:nth-child(2) {
    background-color: rgb(39, 39, 39);
    animation-delay: 0.5s;
}
.loader__column:nth-child(3) {
    background-color: rgb(73, 73, 73);
    animation-delay: 0.75s;
}
.loader__column:nth-child(4) {
    background-color: rgb(87, 87, 87);
    animation-delay: 1s;
}
